<% if user_signed_in? %> 
 <div> Bienvenido <%= current_user.email %> </div> 
  <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Iniciar sesión", new_user_session_path %> 
<% end %>
<h1>TalentColombia</h1>