<div id="<%= dom_id feedback %>">
  <p>
    <strong>Feedback y Retroalimentación:</strong>
    <%= feedback.performance_review_id %>
  </p>

  <p>
    <strong>Empleado:</strong>
    <%= feedback.author_id %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= feedback.content %>
  </p>

</div>
